.accueil{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.accueil__subtitle{
    text-align: center;
    font-size: var(--fs-subtitle);
    font-family: var(--ff-title);
    
}

.accueil__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 2rem;

}

.accueil__list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 16rem;
    height: 16rem;
    padding: 1rem;
    background-color: var(--bg-second);
    border-radius: 10px;
}

.accueil__list-img{
    width: 10rem;
    height: 10rem;
}

.accueil__list-subtitle{
    margin: 0;
    font-size: var(--fs-title);
    font-family: var(--ff-title);

}

